[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=AppImage Files
ServiceTypes=ThumbCreator
MimeType=application/x-iso9660-appimage;application/vnd.appimage;
CacheThumbnail=true
X-KDE-Library=appimagethumbnail
ThumbnailerVersion=2
